[2018-02-03 13:06] praveenpuglia opened #1 "allow presets section to be completely removed"
Currently even if the presets array is empty, the presets section will get rendered which is unwanted.

Allow the user to specify `no-presets` on the component instance so they can completely remove that section from the picker if they wanted to.

[2018-02-03 13:09] praveenpuglia opened #2 "remove the wrapper card component"
The current component is rendered inside a card which may not be something that's wanted in all use cases.

Example - opening the datepicker inside a menu. In that case the padding all around will be too much.

It's generally a bad thing to assume that it'll always be a card. Let the user put it anywhere they want to, a card, a menu, anywhere.

[2018-02-03 13:22] #2 closed

[2018-02-03 13:35] vinaypuppal opened #5 "Migrate from moment.js to `date-fns`"
Reason: moment.js produces larger bundle size and since we are not using all of moment.js it makes sense to import what we use only instead of full moment.js but moment.js has a performance overhead. Read this post for more info: https://raygun.com/blog/moment-js-vs-date-fns/

So it's better to use [date-fns](https://date-fns.org/) and import only what we use like
[code]

[2018-02-03 14:03] praveenpuglia commented on #5
Thanks for the suggestion. I was thinking of removing it too. Let me take a look.

[2018-02-03 14:05] praveenpuglia commented on #5
Would you be interested in taking this up? All we need is a format function.

[2018-02-03 14:10] vinaypuppal commented on #5
Yeah sure, so should we make `date-fns` as `peerDependency` or integrate into this component as you said we will be using only one format function so there won't be huge file size differences of our dist files. What do you say?

[2018-02-03 14:14] praveenpuglia commented on #5
we'll need it as a dependency but just import those two functions. Webpack can take care of the rest.

[2018-02-04 06:12] praveenpuglia opened #7 "dark and light themes"
Currently it's light by default which may not be always desired.
Let the user pass in `dark` or `light` boolean prop just like any other vuetify component and set up the component with that tint.

[2018-02-04 06:22] #5 closed

[2018-02-04 06:29] praveenpuglia opened #8 "DateRange component doesn't trigger any HMR while developing"
@vinaypuppal In App.vue, we should really be pointing the source DateRange.vue and not the dist version.
https://github.com/praveenpuglia/vuetify-daterange-picker/blob/master/demo/App.vue#L20-L21
This will stop HMR from working for any source changes in DateRange.vue.

[code]
should be good enough for development.

[2018-02-04 06:37] praveenpuglia commented on #8
I am gonna be fixing this with the next PR.

[2018-02-04 06:41] vinaypuppal commented on #8
But I thought `demo` folder contains example on how to use this component. No problem change it to `src` file if it helps for development, we can add a code sandbox link to Readme.

[2018-02-04 06:48] praveenpuglia commented on #8
Actually you are right. So what I am doing is keeping App.vue as is but adding the build step in dev server in watch mode. That should do the trick.

This to be precise.
[code]

[2018-02-04 06:58] #1 closed

[2018-02-04 06:58] #8 closed

[2018-02-04 07:15] praveenpuglia opened #10 "Need a demo site"
Yeah! Let people play

[2018-02-04 07:15] praveenpuglia commented on #10
@vinaypuppal wanna shoot at it?

[2018-02-04 07:34] praveenpuglia commented on #7
On the other hand, may be let it be agnostic of theme at the component level and let the user choose a global theme which will automatically change this. Thoughts?

[2018-02-04 07:35] praveenpuglia opened #11 "Add tests"

[2018-02-04 13:30] praveenpuglia commented on #10
Now available at http://vuetify-daterange.surge.sh/

[2018-02-04 13:30] #10 closed

[2018-02-04 18:30] vinaypuppal commented on #10
Sorry I did not notice this issue.

I mentioned how to deploy `demo` folder in this PR's description #3

---
It would be better if you can add codesandbox demo also to readme like this
[![Edit Vue Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/54yno7n89p)

[2018-02-05 06:20] praveenpuglia commented on #10
Go ahead and add this in Readme and send me a PR :)

[2018-02-14 14:58] praveenpuglia opened #13 "accept configuration props that the vuetify datepicker accepts"
vuetify's picker accepts a bunch of properties like `dark`, `light` or props to change the chevron icons. Currently the date range picker doesn't allow any of that.

I think it'll be a good thing to just accept those same inputs and if they are present in the component, then we pass them along to the inner date pickers.

[2018-02-28 06:35] ragas49 opened #14 "does not work with vuetify 1"
can you please update this to work with vuetify 1. vuetify 1 expects allowed dates in date picker to be function, this is passing a object at the moment

[2018-02-28 10:44] praveenpuglia commented on #14
Hi!
Thanks for reporting it.
I hear you. In the process of updating it. Will be working on this over the weekend. 👍

[2018-03-04 10:15] praveenpuglia opened #15 "update to vuetify js 1.x"

[2018-03-04 10:42] #14 closed

[2018-03-04 10:42] #15 closed

[2018-03-04 10:43] praveenpuglia commented on #14
@ragas49 Fixed it. Pushing to npm as I speak! :)

[2018-03-23 19:04] #7 closed

[2018-05-14 14:27] hannonq opened #17 "[Feature request] Daterange picker in pop up menu"
Hi, first of all, nice component!

I was wondering if there is a way to use it as a pop up menu, [like the official date picker from Vuetify](https://vuetifyjs.com/en/components/date-pickers#example-date-dialog-and-menu).

Ideally, the menu will only show up when the user clicks on the input field to change the date.

Thanks!

[2018-05-14 15:55] praveenpuglia commented on #17
The examples I have are using menus. Can you please tell me exactly which demo you are talking about so I can understand the request better?

[2018-05-14 16:03] praveenpuglia opened #18 "Add an example that shows how the component can be used inside a menu"
From #17
- show integration with `v-menu`
- show formatting of the date output

[2018-05-15 07:04] hannonq commented on #17
Thanks for the quick reply.

I was referring to [this example](https://codepen.io/anon/pen/erjxod?&editors=101), but the code snippet you posted above does the trick very easily.

I'm a complete newbie in Vuejs (and fairly new to Javascript), so I didn't manage to put that together myself.

Since I'm happy with the proposed solution, I'll close this issue for now. And I would suggest that you put

[2018-05-15 07:04] #17 closed

[2018-06-06 06:49] praveenpuglia commented on #18
Closed in a50a1dfdf6322a9382b7f64c282ec0ec899b9644.

[2018-06-06 06:49] #18 closed

[2018-06-06 06:49] praveenpuglia commented on #17
@hannonq the latest demo now includes the menu example at the bottom. :)

[2018-06-06 14:11] hannonq commented on #17
Awesome :)
Thanks @praveenpuglia !

[2018-06-07 13:21] chanlito opened #19 "How to change start and end date labels?"
`Title says it all.`

[2018-06-07 13:56] praveenpuglia commented on #19
Hey @chanlito , currently there's no way it can be done but I can definitely add a prop for that.
Or, even better, if you wanna fix this and send a PR, that would be so awesome :)

[2018-07-10 16:21] #19 closed

[2018-07-17 16:34] skymen opened #20 "Allow for internationalization"
Hi,
While most of the component can be translated through many means, the date picker itself cannot.
And this is a feature that is available in Vuetify's date picker.

Is it possible to add a prop that allows for internationalization?

[2018-07-18 09:53] skymen commented on #20
I made a PR. Thanks :)

[2018-07-19 06:14] #20 closed

[2018-07-31 13:22] hannonq opened #22 "Vuetify 1.1.X support"
Hi, I'm trying to figure it out if there is an incompatibility between **vuetify-daterange-picker 2.4.0** and **Vuetify 1.1.8**. My component is being rendered weirdly (see attached screenshot), and so far I haven't been able to figure out why. A problem with font awesome, perhaps?

If library version problems are ruled out, I can try to make a reproducible example here.

![image](https://user-ima

[2018-07-31 14:03] praveenpuglia commented on #22
It looks like you just don't have the material icons included. Have you included that?

[2018-07-31 14:34] hannonq commented on #22
That was stupid of me. Always looking at the wrong place. I took it for granted thinking it would have been included by the scaffolding of vue-cli.
![image](https://user-images.githubusercontent.com/11261651/43466155-30ccbab2-94df-11e8-9a42-2b87a5fbbdec.png)

I've included it now and it works.

[2018-07-31 14:34] #22 closed

[2018-08-02 21:36] amrbedair opened #23 "do you have maxDate .. can I set maxDate?"
Can I allow selecting ranges in the future?

[2018-08-03 05:15] praveenpuglia commented on #23
I don't have that as of yet. I am working on a rewrite of the API though and allowing more options. Will be fixed soon!

[2018-08-07 07:18] #23 closed

[2018-08-07 07:19] praveenpuglia commented on #23
Hi! @amrbedair. The options object now accepts a maxDate and if not provided, it defaults to today. Hope this solves your problem :)

[2018-08-07 09:02] amrbedair commented on #23
@praveenpuglia thank you .. I will try it

[2018-08-28 06:24] pwnz22 opened #25 "Allow to pick dates on one month only"
Hello guys!

Please help to set options for my needs.

I want to allow to user to pick dates in range of one month of any year. Thanks.

[2018-08-28 12:42] praveenpuglia commented on #25
You can already do that using the `minDate` and `maxDate` options. Did you try using those values?

[2018-08-28 12:55] pwnz22 commented on #25
Yes, i tried, but didnt get what i need. I dont know which values to set to allow user to pick any dates between any month of one year. For example i can pick: 01.05.2018 - 20.05.2018 but not 01.05.2018 - 20.06.2018.

Can you explain how to use that options.

[2018-08-28 13:01] praveenpuglia commented on #25
How about setting `minDate: '2018-05-01'` & `maxDate: '2018-05-20'` ?

[2018-08-28 13:09] pwnz22 commented on #25
Look user can choose any day from one month and any year.  I have restriction of picking between one month.
Examples of user can pick:

2017-05-01 - 2017-05-30
2018-01-20 - 2018-01-25
But not:

2017-05-01 - 2017-06-05
2018-02-20 - 2018-03-25

etc...

[2018-08-28 13:17] praveenpuglia commented on #25
oh! okay. Now I got it. So you want to allow the _duration_ to be max a month doesn't matter which month it is.

Currently, there's no way to do this. I'll have to think about the API a little and get back to you with a solution soon.

[2018-09-04 13:07] mariokresic commented on #25
You can use computed props to change maxDate prop.

etc.

minDate = firstPickedDate;
maxDate = minDate + 30days

[2018-09-11 21:39] jasonrhaddix opened #27 "[Feature Request] Select textfield style"
Feature request: Ability to select the type of textfield through props or options (i.e. Regular, Box, Solo or Outline)

Edit: Would also include updating to latest Vuetify 1.2.x

I'm willing to submit a PR.

[2018-09-12 06:14] praveenpuglia commented on #27
A PR is absolutely welcome! :)

[2018-09-12 06:15] praveenpuglia commented on #25
I have looked into this but it seems like @mariokresic 's way is the most convenient way of doing this right now. Anything else I tried required change to the actual datepicker element.

[2018-09-12 16:38] onx2 opened #28 "Input field readout is not the same as the selected date"
For example, if I select september 6th - 11th in the date picker the input field reads 5th - 10th. This doesn't seem to be the case with the top readout inside of badges.

Is there a configuration that I am missing? This doesn't seem intuitive that the readout would be different than the dates selected.

![image](https://user-images.githubusercontent.com/23039725/45439662-6d475900-b688-11e8-821f-e

[2018-09-13 05:14] praveenpuglia commented on #28
That is weird. Can you post your options here?

[2018-09-14 04:36] praveenpuglia commented on #28
1. The codesandbox link is too old. Can you try reproduce it in this demo? - http://vuetify-daterange.surge.sh. The code for that is in [here](../tree/master/demo/App.vue)

2. Even in this codesandbox link I couldn't see wrong dates. May I know which browser you are using and any other details that you think might be relevant?

![image](https://user-images.githubusercontent.com/313363/45529953-bd9

[2018-09-14 12:53] onx2 commented on #28
Going to that page gives me the same results:

Browser: Chrome Version 69.0.3497.92 (Official Build) (64-bit)
OS: Windows 10 Home - Version 10.0.17134 Build 17134

![image](https://user-images.githubusercontent.com/23039725/45551253-46f5fa80-b7fb-11e8-9dd1-5f532d675796.png)

[2018-09-14 13:34] praveenpuglia commented on #28
Thanks so much for using it and making me feel proud.
I somehow think this is a timezone issue. Because I never seem to be able to reproduce it. Can you please tell me which TZ are you in? I can try replicating this by emulating may be?

[2018-09-14 16:07] onx2 commented on #28
No problem, I'm very glad to have a robust solution for date range picking. I'm also excited for the colorizing feature on the way between ranges.

Timezone: UTC -5:00 Eastern Time (US & Canada)

The timezone being an issue makes a lot of sense. Perhaps the plugin you are using to handle dates is using GMT by default and not snagging the user's timezone?

[2018-09-16 18:41] outoppie opened #29 "Input triggers twice"
It appears that every date selection triggers the input event twice.  You can see this in the sandbox by adding console.log

[2018-09-17 06:59] praveenpuglia commented on #29
Hi!
This is intended. Each time a date is selected, the combination of start and end date is sent out. What's expected?

[2018-09-17 07:00] praveenpuglia commented on #28
Yeah! may be that's the issue. I'll look at it at the earliest. Going through a bit complicated phase right now. but I'll get back to it soon.

[2018-09-17 09:26] outoppie commented on #29
Hi Praveen

Many thanks for responding and thanks for creating the date range picker.

Yes, I receive start and end date in the range field.  Not sure if it is intended, but my query is that each time I select either start or end date, is it correct that the input event fires twice ?

Regards

Mike Moncrieff

Computer Leverage

From: Praveen Puglia [mailto:notifications@github.com]
Sent: 17 Septem

[2018-09-17 16:42] praveenpuglia commented on #29
Yes! that's how I designed it. I should probably also add an option to give `Apply` and `Cancel` buttons which will ensure the event gets fired only when `Apply` is clicked.

[2018-09-17 18:31] outoppie commented on #29
Thanks once again for the quick response.  I have adjusted my code accordingly.

[2018-09-18 02:14] #29 closed

[2018-10-08 20:55] neufman opened #30 "Allow empty fields and clear"
Hello,

Is it possible to initialize daterange picker with empty fields ?
After select a range, a reset button would be great !

Thanks !

[2018-10-09 05:12] praveenpuglia commented on #30
Hi!
In the `options` object, if you pass `startDate` and `endDate` as empty string. It should initialize the fields with empty values.

Let me know if this doesn't work for you.

[2018-10-09 05:14] #25 closed

[2018-10-09 07:09] neufman commented on #30
It doesn't seem to work.
Inputs have value "Invalid Date".

[2018-10-18 14:23] arawwad opened #31 "vertical pickers"
![screenshot from 2018-10-18 16-21-39](https://user-images.githubusercontent.com/25812184/47161330-20dbe280-d2f2-11e8-8e82-46a7f6844916.png)
any idea why I have the picker vertical not horizontal ??

[2018-10-19 06:13] praveenpuglia commented on #31
Did you import the CSS too?

[2018-10-19 13:11] arawwad commented on #31
I forgot to. thanks for the response :+1:

[2018-10-19 13:50] SephVelut opened #32 "Broken?"
I have a single page component and

[code]

results in ` Unknown custom element: <v-daterange> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

Tried

[code]

But got `Failed to mount component: template or render function not defined.`

[2018-10-19 15:14] #32 closed

[2018-10-19 15:26] alex-mos opened #33 "[Feature Request] closeable calendar pane"
I'd like to close calendar pane after choosing date range like at [element.io](https://element.eleme.io/#/en-US/component/date-picker#date-range)
Add this option please.

[2018-10-21 07:07] #31 closed

[2018-10-21 07:08] praveenpuglia commented on #33
You mean autoclose right?

[2018-10-21 08:08] alex-mos commented on #33
Yes. Autoclose after loosing focus.

[2018-10-22 05:29] praveenpuglia commented on #33
Hi, have you looked at the "Open in Menu" example here - http://vuetify-daterange.surge.sh/ ?
The daterange picker itself doesn't do any sort of handling like that. You can put this component inside any other overlay-ish component to get the same effect.

Will that do the job? let me know.

It still doesn't solve the "Select two dates to auto close" use case. If that's something you are looking fo

[2018-10-22 06:38] #30 closed

[2018-10-22 06:41] praveenpuglia commented on #30
I have fixed part 1 of the issue in 57b06f2e9d211582162c13d823eca941bfda94d2.
for part 2, I am going to create a new issue and update there.

[2018-10-24 18:55] jasonrhaddix commented on #27
@praveenpuglia forgive me, but I have not had a chance to work on this. Feel free to close this if no one else is will to do a PR.

[2018-10-29 15:45] StewM commented on #28
It seems to be related to the format being used for the start date and end date. new Date('2018-10-01') returns Sun Sep 30 2018 19:00:00 GMT-0500 (Central Daylight Time), but new Date('2018/10/01') returns Mon Oct 01 2018 00:00:00 GMT-0500 (Central Daylight Time).
Standardizing the format being passed into Date in the computed methods would probably fix this.

[2018-10-29 16:47] StewM commented on #28
I've got a working solution, I'll submit a PR after work when I have a chance to write it up.

[2018-10-29 18:01] StewM commented on #28
Submitted a PR: #36

[2018-10-30 06:43] praveenpuglia commented on #28
Hello everyone, new releases are here and this has been fixed thanks to @StewM . Let me and him know if it all works for you :)

Also, if any of you are interested into feature development for this component, let me know. I can add you as a collaborator and we can work together to make this even cooler.

[2018-11-11 14:54] Rolanddoda opened #38 "Importing the date picker locally do not work"
I imported these:

[code]

And this on components section:

[code]

Obviously this won't work

[2018-11-13 05:34] praveenpuglia commented on #38
You need to install it as a plugin. Did you do that? If you do, you won't have to import it in component like so.

https://github.com/praveenpuglia/vuetify-daterange-picker#usage

[2018-11-13 06:47] Rolanddoda commented on #38
I followed the instructions to import it only in one component. I don't want to install it globally with Vue.use()

[2018-11-15 05:29] pwnz22 commented on #19
How about to removing the formatting string? (MM-DD-YYYY)

[2018-11-15 09:57] praveenpuglia commented on #32
Hi,

You are importing **VDateRange** which is the plugin file and not the real component. **DateRange** is the component.
If you look at the Usage section on how to import this for a single component, you'll see it's slightly different.

[code]

[2018-11-15 09:59] praveenpuglia commented on #38
#32 was about similar issue but it's solved now. Can you please post the error you get?

[2018-11-15 10:02] praveenpuglia commented on #19
That option isn't there right now. Happy to have a PR that does that. Should be a simple boolean prop passed as `show-format`or something similar

[2018-11-26 09:31] nachomozo opened #39 "Error using vuetify components"
I have a project with vuetify. Vuetify is working well all across my project. But, when y try to use the date range piker (globally registered) it fails with the following errors:

[code]
[code]
Throws the same error with all vuetify components.

I have vuetify@1.3.9 installed with Vue CLI 3 and initialized like that:

[code]
I realized that if i change `import Vuetify from 'vuetify/lib'` to `impo

[2018-11-27 10:49] praveenpuglia commented on #39
Hi!
It doesn't look like you are using À la carte mode with vuetify. So ideally, you should be doing
[code]
instead of
[code]
As far as I can tell, nothing should break.

[2018-11-27 10:49] #39 closed

[2018-11-27 10:54] jama5262 commented on #32
Hi, what you suggested did not work

[2018-12-05 16:04] psychosis448 commented on #32
Same issue her

[code]

[2018-12-05 16:10] psychosis448 commented on #39
It breaks with `vuetify` installed as a plugin

[2018-12-06 10:51] praveenpuglia commented on #32
Can you all try doing
[code]
and then in template just use
[code]
instead of
[code]

[2018-12-06 10:58] psychosis448 commented on #32
Then it says that template or render function is not defined:

[code]

[2018-12-14 17:45] markhilton commented on #38
I was able to import component locally with:
[code]
but I am getting errors: Unknown custom element: <v-list>, <v-subheader>, etc.

I have VUE CLI 3 project with TypeScript and Vuetify plugin installed.

[2018-12-18 01:57] lbogdan commented on #38
@praveenpuglia Looks like you're only exporting the default (and not the `DateRange` component) from https://github.com/praveenpuglia/vuetify-daterange-picker/blob/master/src/index.js ?

[2018-12-18 06:45] praveenpuglia commented on #38
Ah! Thanks a ton @lbogdan. Sorry, I didn't have the time to look into it so far because of busy day job. Would you like to send a PR ? I am more than happy to merge one. :)

[2018-12-19 16:57] praveenpuglia commented on #38
Fixed in v2.6.2 - https://github.com/praveenpuglia/vuetify-daterange-picker/releases/tag/v2.6.2

[2018-12-19 16:57] #38 closed

[2018-12-20 14:01] skortabeast opened #40 "Doesn't work with vue-cli 3 when use Build"
When use Build with vue cli 3 , data picker not use own style, but with dev  all is ok
build version looks like
![image](https://user-images.githubusercontent.com/10978770/50289051-9b92bc80-045f-11e9-9b45-cd97a8462b65.png)
but dev version looks
![image](https://user-images.githubusercontent.com/10978770/50289076-a9484200-045f-11e9-9624-e0c7daba525e.png)

dev option - "serve": "vue-cli-service serv

[2018-12-30 12:27] jvbianchi opened #41 "Highlight range doesn't work with vuetify 1.4"
This library is not compatible with vuetify version 1.3 and up.

[2019-01-18 08:44] magvan opened #42 "Internalization name of presets"
I make internalization.
![image](https://user-images.githubusercontent.com/8927781/51374905-7011f900-1b15-11e9-8e1e-f2a4ead3e9f0.png)
labels translated success. dataRangeLabels
![image](https://user-images.githubusercontent.com/8927781/51375014-c2531a00-1b15-11e9-9022-0ea9f670c040.png)
But presets not translated.
![image](https://user-images.githubusercontent.com/8927781/51375094-f62e3f80-1b15-11e

[2019-01-22 05:56] praveenpuglia commented on #42
Thanks for the codesandbox setup. I'll try this out and see if I can fix things :)

[2019-01-25 04:44] praveenpuglia commented on #42
Making presets as a prop will break code for everyone else who is already using the component. That is why I am thinking of a diff way. I may as well do that but release it as a separate version.

[2019-02-02 14:36] luizfschrickte commented on #40
Same here, can't solve the issue - tried importing the css using ~, @ but all result in the same problem. Any help would be appreciated - this doesn't look like a complicated issue.

[2019-02-07 20:25] pzeugin commented on #40
I just encountered the exact same problem. Any help is greatly appreciated.

[2019-02-07 20:26] pzeugin commented on #41
Highlight range is displayed as some weird dots with newest vuetify version. Does anybody now how to resolve this issue?

[2019-02-08 07:20] praveenpuglia commented on #41
I have checked this. It's probably a class name issue. Will fix this

[2019-02-08 07:21] praveenpuglia commented on #40
I'll try fixing this over the weekend. I am sorry, I have been pathetically occupied elsewhere and couldn't look into any of it.

[2019-02-15 03:42] eliyas5044 opened #43 "Does not work with Nuxt.js"
Hi, thanks for your awesome plugin :)
I used this with Vue.js and worked fine. But in my current project, it's not working.

[code]
[![Edit nuxt-vuetify](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/71r30w97y0)

appreciate your help :)

[2019-02-15 13:16] praveenpuglia commented on #43
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 13:17] praveenpuglia commented on #42
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 13:17] praveenpuglia commented on #41
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 13:17] praveenpuglia commented on #40
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 13:17] praveenpuglia commented on #33
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 13:18] praveenpuglia commented on #27
Hi!

I built a new version from ground up keeping simplicity of use in mind. Can you please try it out and let me know if that works for you?

P.S - I still need to add the option to pass in presets.

https://vuetify-daterange-picker.gitbook.io/docs/

[2019-02-15 18:12] ProjectINT commented on #32
A have the same issue, after a few tries, I I'm was surrender.

[2019-02-16 03:37] praveenpuglia commented on #43
Also, in your codesandbox demo, I see this. Is that intended?
<img width="538" alt="image" src="https://user-images.githubusercontent.com/313363/52894091-3a226c00-31ca-11e9-80ae-aad9c778cc47.png">

[2019-02-24 16:49] alex-mos commented on #33
Hi Praveen!
I tested version 3 and it completely solves this issue.
Date-picker is closed by default and appears after a click on the input.
Thank You!

[2019-02-28 02:52] alvinthen commented on #43
FYI, I need to disable ssr in my nuxt-config.js in order to use this.

[code]

[2019-02-28 02:55] alvinthen opened #44 "[v3] end date picker doesn't conform to min prop"
On v3.0.1, `min` doesn't seem to affect the end date picker.

<img width="680" alt="screenshot 2019-02-28 at 10 47 13" src="https://user-images.githubusercontent.com/771989/53538037-0b4fb280-3b47-11e9-9c23-7413ccb8e377.png">

[code]

[2019-02-28 12:07] praveenpuglia commented on #44
Will fix this on March 02.
You can also send me a PR, that would be so awesome! :)

[2019-02-28 16:15] smydolf commented on #32
I have the same issue :/

[2019-03-01 06:10] praveenpuglia commented on #32
Hi All, I have worked on a V3 of this. Please take a look at the readme. I'll add the presets functionality in a few days.

Would love to get some feedback on that solve all of these issues.

PS. - Thanks for all the patience. I have been away from JS development for some time now and doing full time python at day job. More reason why this project feels abandoned. Happy to receive PRs from all the

[2019-03-04 09:13] valeriy-efimov opened #45 "Error"
![asdasd](https://user-images.githubusercontent.com/5989188/53722561-83331b00-3e6e-11e9-9945-57a0140d2d18.png)
What is the problem?

[2019-03-04 10:16] valeriy-efimov commented on #45
npm install stylus stylus-loader ---save-dev

[2019-03-04 10:16] #45 closed

[2019-03-07 07:43] pawel-miczka opened #46 "How to change 'apply', 'close' buttons and menu activator?"
I want to change buttons from menu under pickers. How can I do it?
Also I want to change activator. Is it possible?

[2019-03-08 04:58] praveenpuglia commented on #46
Not right now. no. I am having hard time maintaining this project. I would really love someone else to join in. :(

[2019-03-08 08:25] pawel-miczka commented on #46
Ok :( .. I'm closing this issue then.
Maybe as i find time I will join, make some changes and open PRs but not so soon.

[2019-03-08 08:25] #46 closed

[2019-03-14 17:23] guillaumelaizet opened #47 "Allow to change dates from inputs"
Hi, Thanks for your work.

It's not possible to change the dates from the inputs.

Thanks again, bye

[2019-03-15 04:12] praveenpuglia commented on #47
You mean you want to type and change? That's a little tricky to handle. Specially min and max date validations.

[2019-03-15 13:24] qdpy commented on #47
Hello Praveen, i'm interested too in this case! Check that GIF, it will explain better than word 👍
https://gyazo.com/7fce85e0e99c6feb15e6946faed7c5b4

[2019-03-18 13:59] sergiofactvs opened #48 "How to reset daterange value?"
Hi, it is possible to reset the daterange input value?

[2019-03-22 10:34] praveenpuglia commented on #48
Hi!

This option doesn't yet exist. I was wondering how to do this. Would you like it as a method you can call on the ref to the component?

So you could do something like
[code]
and then in JS
[code]

This could very well be extended in the UI as well by giving a reset button.

[2019-03-22 10:40] praveenpuglia commented on #44
Thanks for the issue. It's fixed now in the latest version.

[2019-03-22 10:40] #44 closed

[2019-03-22 10:42] praveenpuglia commented on #43
Hi!

Can you please try the latest version of the component 3.1.1 and see if that works?
Note - the new version has breaking changes.

[2019-03-22 10:50] praveenpuglia commented on #42
Version 3.1.1 should fix this issue. Hence closing.

[2019-03-22 10:50] #42 closed

[2019-03-22 12:32] praveenpuglia commented on #41
Closed this in latest version 3.

[2019-03-22 12:32] #41 closed

[2019-03-22 12:33] praveenpuglia commented on #40
This has been closed in latest version 3. Please try and let me know if that doesn't work for you.

[2019-03-22 12:33] #40 closed

[2019-03-22 12:33] praveenpuglia commented on #33
Closing this then! :)

[2019-03-22 12:33] #33 closed

[2019-03-22 12:35] praveenpuglia commented on #27
This has been fixed in latest version 3. You can now pass `input-options` prop to the picker and to that you can any prop that vuetify's `v-input` accepts. So you can not only change the input style but also other aspects of the component.

[2019-03-22 12:35] #27 closed

[2019-03-30 13:58] eliyas5044 commented on #43
@praveenpuglia sorry, I was on vacation. I will try the new version and let you know. Thanks for your attention.

[2019-03-31 08:07] mohsin51 opened #49 "version [3.1.X] is not working with latest vuetify and cli"
So i've been trying to use this module in latest vuetify setup when I try to use.
It shows me error in console saying that **this.$vuetify** is undefined in this module.

it's working till **version 3.0.0** without some props like preset, preset-label etc but on latest versions it's breaking. here is my console error

![Screenshot from 2019-03-31 12-52-07](https://user-images.githubusercontent.com

[2019-04-01 16:47] akaNightmare opened #50 "Markup is broken"
![image](https://user-images.githubusercontent.com/4151616/55344791-f30ce380-54b6-11e9-96e9-8912c5752121.png)

[2019-04-02 08:06] figurluk commented on #49
i have same issue

[2019-04-07 06:37] praveenpuglia commented on #49
On initial inspection it doesn't look like a bug in the component at all.
Read more - https://github.com/yariksav/vuetify-confirm/issues/9

It looks like something has changed about how vuetify gets installed and in vuetify's code and `this.$vuetify` is undefined.

Can you please put your App.vue, main.js and vuetify plugin installation code?

[2019-04-07 06:41] praveenpuglia commented on #50
Explanation? What do you mean?

It looks like broken because by default the input takes up a specific width which cuts off the text.

Try this.

[code]

[code]

[2019-04-07 06:41] #50 closed

[2019-04-07 06:42] #43 closed

[2019-04-07 07:53] praveenpuglia commented on #49
I somehow seem to have fixed it in 3.1.6.
It's a weird thing and I am not sure of is right or wrong.

I had to remove vue, vuetify, and date-fns from dependencies and add them to `peerDependencies`. But then doing `yarn` added them back to dependencies.

So, I had to do an `npm install` those three modules and then remove the generated `package-lock.json` so i would still have them in my node modu

[2019-04-07 08:22] praveenpuglia commented on #49
I moved to `devDependencies` so I can do dev work and still not get into a localVue vs globalVue conflict.

This should have been very obvious that I need to use `devDependences` for dev work

Ref -
https://github.com/praveenpuglia/vuetify-daterange-picker/commit/a55a7c94d8c22d367a269feba0a69ac1ea3884a0

[2019-04-07 08:22] #49 closed

[2019-04-09 08:14] szabizs commented on #13
This would be great ... anyways is this package maintained?

[2019-04-09 09:10] praveenpuglia commented on #13
The repo is maintained but with a much slower pace than i would like since its just me. If you are willing to chip and help, that would be awesome. (y)

About the props thing, In version 3.x I already support passing in menu props and input props. It is relatively easy for me to pass the datepicker props too but a little time is required to check cases where the props I use collide with something

[2019-04-10 13:28] lukaVarga commented on #49
@praveenpuglia the `date-fns` seem to be a dependency, though, as adding the `vuetify-daterange-picker@3` now breaks build:
[code]

[2019-04-10 18:55] praveenpuglia commented on #49
That is correct. It is because I expect the application developer to install that library. And that is because I want one single version of date-fns being used in case the author also wants to use date-fns for other parts of the application.

[2019-04-20 08:50] boiangeorgiev opened #51 "Update range on model change"
Hello and thank you for the great component!
Wish it is incorporated into Vuetify in the future.

In the meantime I wish to request a new feature - to be able to update the selected date range based on the model provided. I think with a simple watcher on `value` should do the trick.

[2019-04-26 16:18] timothymarois opened #52 "Install failed first attempt"
So far its unable to locate modules on install:

[code]

And then a bunch of errors:

[code]

I have the latest Vueify installed and most of the vue modules. I followed installation steps and this is what I got.

[2019-04-26 16:24] timothymarois commented on #52
Ok. I finally got it working due to 2 dependencies that are not known in the installation. Can you please update installation details to explain you need to install the following:

`stylus-loader` and `date-fns`

[2019-04-26 16:40] timothymarois opened #53 "Lack of documentation based on promoted examples"
Based on examples, this plugin lacks documentation to replicate examples provided here.

http://vuetify-daterange.surge.sh/

[2019-04-26 16:45] timothymarois commented on #53
I found this after some google searches and it provides the actual example code
https://codesandbox.io/s/q9vzox5y6j

[2019-04-26 17:04] timothymarois opened #54 "Presents don't show in UI"
Not sure if this has been updated with the latest Vueify, I have noticed the calendar itself is changed compared to the examples of this plugin.

Passing in `presets` seems to do nothing in the Date range UI under presets div.

[code]

The presets list doesn't show any. Using exact code from examples. And this could be due to the lack of documentation, but this package so far isn't usable out of t

[2019-04-27 12:14] mr-africa opened #55 "License"
Hello!
Please add license to your repo

[2019-04-27 12:17] mr-africa commented on #48
@sergiofactvs
You can use `clearable` option of `text-field` also.

[code]

[2019-04-29 02:24] mr-africa commented on #48
But `clearable` option in `input-props` just clear input and don't clear daterange value.
@praveenpuglia could you add real clearable option to the component please

[2019-04-29 04:42] praveenpuglia commented on #53
Hi!
I know it lacks proper documentation and it sucks! But two reasons.
1. I am just way too much occupied in day job. Startup Life!
2. Codesandbox doesn't work with glob in stylus files. So I am unable to create a vuetify demo there. If you know of a workaround, let me know and I'll be happy to add multiple demos there.

[2019-04-29 04:44] praveenpuglia commented on #52
Hi!

date-fns is already listed as peer dependency so when installing, it should have pointed that out.

If you are using vuetify with vue-cli 3 I am assuming their plugin would have done that by itself. Let me try to reproduce this and get back with a fresh installation.

[2019-04-29 04:46] #55 closed

[2019-04-29 04:48] praveenpuglia commented on #52
https://vuetify-daterange-picker.gitbook.io/docs/api#presets

earlier, everything was a giant options object but now all of the props are separated for better control.

[2019-04-29 04:49] praveenpuglia commented on #54
I think you are looking at the old version. Can you please passing the presets as mentioned here?

https://vuetify-daterange-picker.gitbook.io/docs/api#presets

earlier, everything was a giant options object but now all of the props are separated for better control.

[2019-04-29 04:49] #54 closed

[2019-04-29 04:51] praveenpuglia opened #56 "add live examples with v3"
Since codesandbox complains about stylus and globs in it, it is hard for me to set up a codesandbox instance with vuetify and examples.

Try to find other workaround and include embedded examples in the gitbook documentation

[2019-04-29 04:51] praveenpuglia commented on #56
carry over from #53

[2019-04-29 04:51] #53 closed

[2019-04-29 04:52] praveenpuglia commented on #55
Hi, Thanks!
I think I missed it while moving to v3. Added now :)

[2019-04-29 04:52] praveenpuglia commented on #48
I'll work on it this week.

[2019-04-29 06:28] mr-africa opened #57 "Date range picker witout dialog"
Could you move your awesome daterangepicker component to separately component please.
I want to use it without v-dialog

[2019-05-03 09:59] jogoetha commented on #57
It was like this until version 2.6.2, so I'm using that version in order to use it without dialog. The dialog should be optional in my opinion.

[2019-05-08 07:53] zeing opened #58 "Can't Supported Mobile Site"
I can't select to date in Mobile Site

![image](https://user-images.githubusercontent.com/20161393/57359079-fa539b00-71a0-11e9-9667-b497b727c549.png)

[2019-05-10 11:59] #48 closed

[2019-05-10 12:10] praveenpuglia commented on #48
Hi!
There's now a way to reset the picker.
Please check this out - https://vuetify-daterange-picker.gitbook.io/docs/api#show-reset

[2019-05-10 12:11] praveenpuglia commented on #51
Do you mean emitting values as you type?

If you mean to say you want to provide default values to the component through v-model, you can already do that.

[2019-05-10 12:30] praveenpuglia commented on #52
Updated documentation to reflect this.
https://app.gitbook.com/@vuetify-daterange-picker/s/docs/installation-and-usage#requirements

[2019-05-10 12:30] #52 closed

[2019-05-10 12:40] praveenpuglia commented on #58
I have really got to think how to make this possible. Caveats -
- How the presets should be handled.
- How should the layout be like
- When should the mobile view kick in.
- How does it fit when I make it possible for the component to be used without the menu by default

[2019-05-10 12:42] praveenpuglia commented on #57
I agree it should be separate but I also considered how most people wanted to use it. While making v3, I first addressed the most common use case.

I am now working on refactoring things into separate components. Will keep you updated.

[2019-05-14 04:31] zeing commented on #58
I think it should use one calendar for selecting date range in mobile site or small display
look like this
![image](https://user-images.githubusercontent.com/20161393/57670961-c6162980-763b-11e9-8be1-cc6e1477d4ab.png)
easy for using in mobile site

[2019-05-14 05:59] praveenpuglia commented on #58
Thanks for posting this. I'll be working on this soon. Caught up in day job. Would have loved some help. :)

[2019-05-20 10:55] iolinpic opened #60 "Dialog action button text config (Localisation support)"
currently we could change calendar language via props, but dialog actions seams to be hardcoded as "Cancel", "Apply"
` <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click="reset">Reset</v-btn>
          <v-btn flat @click="menu = false">Cancel</v-btn>
          <v-btn @click="applyRange" color="primary" :disabled="!bothSelected"

</v-card-actions>`

[2019-05-24 06:35] Kshopper93 opened #62 "Change value prop"
Hello,

i want to set a default start and end date in my picker but its didnt work. Here my code:

[code]

Here my data:

[code]

[2019-05-24 06:58] praveenpuglia commented on #62
Your use of `v-model` and `:value` is conflicting.
v-model itself uses `value` prop internally.

tl;dr
if you need default values, set your `range` data property to those default values and then pass that `range` to `v-model`

Basically,

- remove `:value`
- change the name of `datepickerinivalues` to `range`

[2019-05-24 07:19] #62 closed

[2019-06-12 12:05] Waynezhi commented on #58
or like the date range selector in Airbnb

[2019-07-23 07:56] IgnasJan commented on #60
In addition, the first day of the week should be changed according to the locale.

[2019-08-08 13:51] user3483203 opened #64 "Update for Vuetify 2"
Not sure when you were planning on updating to Vuetify 2.  The only real change is a minor adjustment to the activator for the menu in the datepicker.  Here is a fix, if you are interested in updating I can submit a PR.

https://github.com/praveenpuglia/vuetify-daterange-picker/compare/master...user3483203:master

[2019-08-08 16:54] praveenpuglia commented on #64
It also uses scss and stylus. That bit needs to change too.

[2019-08-09 13:39] user3483203 commented on #64
I feel ya, no pressure.  I'm pretty sure I fixed all of the issues with the new scss as well in that commit.  I've been using it in my projects that were previously on vuetify ~1.5 and it seems to be working well.

[2019-08-13 11:16] hellowest commented on #48
Hi Guys,

I'm working the vuetify date range picker and the reset option , its still not available from what I'm seeing.
Some news on this subject ?
Thank you.

[2019-09-18 17:09] Adrear commented on #64
Hey, @praveenpuglia . I have an interest in this update. Can I help you?

[2019-09-19 19:56] praveenpuglia commented on #64
Hey @Adrear - I would love some support. Absolutely feel free to send a PR and I'll help you the best I can. :)

[2019-11-20 11:10] Zigotote opened #70 "Date format issue"
Hello,
I tried to use the date range picker but when I do so I have this error :
![image](https://user-images.githubusercontent.com/34279302/69233755-cb75a300-0b8d-11ea-901a-f3885bc68210.png)

It's because date formatting isn't correct on the code : it should be "yyyy-MM-dd" instead of "YYYY-MM-DD" (see [date-fns doc](https://github.com/date-fns/date-fns/blob/master/docs/unicodeTokens.md)).
I woul

[2019-11-21 06:37] praveenpuglia commented on #70
I think it's because date-fns changed their parsing logic and what letters denote what to be compliant with standards and how other libraries like moment does it.

Can you please tell me from your package-lock.json or yarn.lock file which exact version of date-fns you are using?

[2019-11-21 08:25] Zigotote commented on #70
You're right, I'm not using the same version as you : my date-fns version is 2.7.0.

[2019-11-29 08:41] ashishnimrot commented on #70
Same problem, How to solved/handle this exception.

[2019-11-29 09:45] Zigotote commented on #70
The first solution is to downgrade your date-fns version, to ues 1.30.1 as @praveenpuglia does.

The second one is to use another plugin, such as [https://github.com/charliekassel/vuejs-datepicker](vuejs-datepicker).

Or, if you have time, maybe you can modify this project to use a higher version of date-fns. The idea is just to replace all the "MM-DD-YYYY" by "MM-dd-yyyy" (or whatever format you

[2019-11-30 07:37] praveenpuglia commented on #70
I am desperately looking for a maintainer. Everyone wants to use it but nobody wants to maintain and I don't have enough time to maintain it further. It's hard to keep up to date with vuetify changes and more so after things radically changed in v2.

Anyone willing to chip in?

[2019-11-30 07:37] praveenpuglia commented on #70
If this is important for you all, I'll try to see if I can do something in a week or so. But no guarantees.

[2019-12-02 11:34] Zigotote commented on #70
I made a pull request  #71 to solve this problem.
However, I didn't tested it (I have never developed a Vuejs plugin before and I don't know how to test it). It should work but it will maybe require minor changes.

[2019-12-05 10:24] praveenpuglia commented on #70
closed in #71

[2019-12-05 10:24] #70 closed

[2019-12-05 10:48] praveenpuglia commented on #60
Fixed in 3.2. Released to NPM. Thanks for reporting!

[2019-12-05 10:48] #60 closed

[2019-12-05 10:52] praveenpuglia commented on #51
Closing since no activity

[2019-12-05 10:52] #51 closed

[2019-12-05 12:13] boiangeorgiev commented on #51
Sorry, somehow completely missed your reply on May 10. The feature in question is the ability of the visual to react on model change, I mean when we change the date range programatically the displayed calendars to change respectively. Thanks!

[2019-12-10 14:54] Zigotote opened #72 "Cannot find module "vuetify/lib""
Hello,
I tried to use the new version of the plugin but know I have this error when I run my application
![image](https://user-images.githubusercontent.com/34279302/70540288-3e5ab400-1b65-11ea-92ae-adeff1a0583d.png)

Do you know why I have this message ?

[2019-12-11 06:06] praveenpuglia commented on #72
Which version of vuetify are you trying to install or have installed?

[2019-12-11 09:23] Zigotote commented on #72
I'd like to use the last one : 3.2.0.
This are my dependencies, in my package.json :
![image](https://user-images.githubusercontent.com/34279302/70608365-47e52a00-1c00-11ea-8fa4-cbe5e67ad9e4.png)

[2019-12-11 09:36] praveenpuglia commented on #72
I don't see vuetify itself in the dependencies. Have you installed vuetify? My component doesn't work if you don't have vuetify.

[2019-12-11 11:02] Zigotote commented on #72
Thanks for your fast reply !! I didn't see in your documentation that I should install vuetify, but I will add it, thanks !

[2019-12-11 12:28] #72 closed

[2019-12-11 12:28] praveenpuglia commented on #72
No Problemo! Everything should work fine once you are done installing vuetify. Don't install versino 2 though. This guy only works with 1.X

[2020-01-17 08:35] paolog22 commented on #64
just wanna share and thanks for this project vue + vuetify (latest release v2.2.4) + typescript

![daterangepicker](https://user-images.githubusercontent.com/12680745/72596557-2c7be600-3947-11ea-9c99-992c1da5dbd1.gif)

[2020-01-18 21:48] praveenpuglia commented on #64
Thanks @paolog22  :)

[2020-12-13 12:33] andreixk opened #79 "No typescript support"
Tying to use the package in a typescript project:

[code]

[2020-12-14 10:58] praveenpuglia commented on #79
Hey!

So, I no longer maintain the project but if it still works for you you can do the following workaround to get past through TS.

If you have scaffolded your project using vue-cli, you should have a shims-vue.d.ts file where you can add the following line

[code]

This should make TS warning go away.

[2020-12-14 10:58] #79 closed

[2021-11-21 13:15] govza commented on #64
@paolog22 how you make it work?
I have an error `The activator slot must be bound, try '<template v-slot:activator="{ on }"><v-btn v-on="on">'`

[2021-12-15 10:41] wackyapps commented on #64
Where can i find your updated version

[2021-12-17 17:31] paolog22 commented on #64
@praveenpuglia can i contribute? @govza @wackyapps sorry guys i left the company i was working with this project and the codebase are also left. but i am willing to support this project .

[2021-12-18 02:29] praveenpuglia commented on #64
@paolog22 sure. Feel free to contribute and make it your own

[2022-01-10 20:16] govza commented on #64
NP @paolog22 , I ended up using only Vuetify to create preset. [codesandbox](https://codepen.io/govza/pen/YzrJpWL)